NODE_ENV=development
PORT=3000
DATABASE_DOCKER=
DATABASE_LOCAL=
DATABASE_NAME=
USERNAME=
PASSWORD=
JWT_SECRET=
JWT_TOKEN_EXPIRES=90d
JWT_COOKIE_EXPIRES=90
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525